<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <header>
        
            <button id="cart">{{cartCount}}<span><i class="fa-solid fa-cart-shopping"></i></span></button>
        </header>
<main>
        <div id="sidebar">
            <p>sort by</p>
            <label for="sub">
                <input type="radio" value="subject" name="sort" v-model="key" > subject
            </label>

            <label for="location">
                <input type="radio" value="location" name="sort" v-model="key" > location
            </label>

            <label for="price">
                <input type="radio"  value="price" name="sort" v-model="key"> price
            </label>

            <label for="spaces">
                <input type="radio" value="spaces" name="sort" v-model="key"> availability
            </label>
            <p>order</p>
            <label for="ascending"><input type="radio" value="asc" name="order"  id="ascending"  v-on:change="sortAsc"> ascending</label>
            <label for="descending"><input type="radio" value="dsc"  name="order" id="descending" v-on:change="sortDsc"> descending</label>
    </div>

        <div id="lessonContainer">
            <div class="lessonCard" v-for="lesson in sortedList">
                <div><img src="" alt=""></div>
                <div class="lessonBody">
                    <div class="lessonInfo">
                    <p class="subject">Subject: {{lesson.subject}}</p> 
                    <p class="location">Location: {{lesson.location}}</p>
                    <p class="spaces">Spaces: {{lesson.spaces}}</p>
                    </div>
                    <div class="lessonFooter">
                        <p>Price: {{lesson.price}}</p>
                        <button class="addButton" v-on:click="addToCart(lesson)">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>

        <p>key: {{key}}</p>


</main>
        <script type="text/javascript">
            let afterSchool = new Vue ({
                el: "#app",
                data:{
                        lessons: [
                            {
                            id: 1001,
                            subject: "Math",
                            location: "London",
                            price: 500,
                            spaces: 4,
                            icon: "fa-solid fa-calculator",
                            },

                            {
                            id: 1002,
                            subject: "English",
                            location: "London",
                            price: 6,
                            spaces: 2,
                            icon: "fa-solid fa-book-open",
                            },

                            {
                            id: 1003,
                            subject: "Biology",
                            location: "London",
                            price: 20,
                            spaces: 5,
                            icon: "fa-solid fa-dna",
                            },

                            {
                            id: 1004,
                            subject: "hemistry",
                            location: "London",
                            price: 60,
                            spaces: 5,
                            icon: "fa-solid fa-flask",
                            },
                            {
                            id: 1005,
                            subject: "Spanish",
                            location: "London",
                            price: 60,
                            spaces: 5,
                            icon: "fa-solid fa-book-open",
                            },
                            {
                            id: 1006,
                            subject: "French",
                            location: "London",
                            price: 550,
                            spaces: 5,
                            icon: "fa-solid fa-language",
                            },

                            {
                            id: 1007,
                            subject: "English",
                            location: "USA",
                            price: 60,
                            spaces: 5,
                            icon: "fa-solid fa-book-open",
                            },

                            {
                            id: 1008,
                            subject: "Biology",
                            location: "Germany",
                            price: 20,
                            spaces: 5,
                            icon: "fa-solid fa-dna",
                            },

                            {
                            id: 1009,
                            subject: "Music",
                            location: "Italy",
                            price: 60,
                            spaces: 5,
                            icon: "fa-solid fa-music",
                            },
                            {
                            id: 1010,
                            subject: "Math",
                            location: "Canada",
                            price: 60,
                            spaces: 5,
                            icon: "fa-solid fa-calculator",
                            },

                            ],
                            cart: [],
                            key: '', 
                            sortedList: [],
                    },

                methods: {
                    addToCart: function(lesson) {
                        this.cart.push(lesson);
                    },
                    sortAsc:  function(){
                        if(this.key === 'subject') {
                            this.sortedList = this.lessons.slice().sort((a,b) =>
                             a.subject.localeCompare(b.subject))
                        } else if (this.key === 'price') {
                            this.sortedList = this.lessons.slice().sort((a,b) =>
                                a.price - b.price
                            )
                        } else if (this.key === 'location') {
                            this.sortedList = this.lessons.slice().sort((a,b) =>
                                a.location.localeCompare(b.location)
                            )
                        } else if (this.key === 'spaces') {
                            this.sortedList = this.lessons.slice().sort((a,b) =>
                                a.spaces - b.spaces
                            ) }
                        else  {
                            this.sortedList =  this.lessons
                        }
                    },


                     sortDsc:  function(){
                        if(this.key === 'subject') {
                            this.sortedList = this.lessons.slice().sort((a,b) =>
                             b.subject.localeCompare(a.subject))
                        } else if (this.key === 'price') {
                            this.sortedList = this.lessons.slice().sort((a,b) =>
                                b.price - a.price
                            )
                        } else if (this.key === 'location') {
                            this.sortedList = this.lessons.slice().sort((a,b) =>
                                b.location.localeCompare(a.location)
                            )
                        } else if (this.key === 'spaces') {
                            this.sortedList = this.lessons.slice().sort((a,b) =>
                                b.spaces - a.spaces
                            ) }
                        else  {
                            this.sortedList =  this.lessons
                        }
                    },

             
                },

                mounted() {
                    this.sortedList =  this.lessons;
                },

                computed: {
                    cartCount: function() {
                        return this.cart.length;
                    },

                    
                },

    
            });
        </script>

    </body>
</html>

