<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <header>
            <button v-bind:disabled="returnPage" id="cart"  v-bind:class="cartCount === 0 ? 'disabledCart' : '' " v-on:click="showCart" ><span id="cartButton"><i class="fa-solid fa-cart-shopping"></i></span> {{cartCount}} </button>
        </header>
<main>
    <div id="lessonDisplay" v-if="showCheckout">
        <div id="sidebar">
            <h2>Sort by</h2>
            <label for="sub">
                <input type="radio" value="subject" name="sort" v-model="key" > subject
            </label>

            <label for="location">
                <input type="radio" value="location" name="sort" v-model="key" > location
            </label>

            <label for="price">
                <input type="radio"  value="price" name="sort" v-model="key"> price
            </label>

            <label for="spaces">
                <input type="radio" value="spaces" name="sort" v-model="key"> availability
            </label>
            <p>order</p>
            <label for="ascending"><input type="radio" value="asc" name="order"  id="ascending"  v-on:change="sortAsc"> ascending</label>
            <label for="descending"><input type="radio" value="dsc"  name="order" id="descending" v-on:change="sortDsc"> descending</label>
        </div>

        <div id="lessonContainer">
            <div class="lessonCard" v-for="lesson in sortedList">
                
                <div class="lessonBody">
                    <div class="lessonInfo"><span class="lessonIcon"><i v-bind:class="lesson.icon"></i></span>
                    <p class="subject"><span><i class="fa-solid fa-book"></i></span>Subject: {{lesson.subject}}</p> 
                    <p class="location"><span><i class="fa-solid fa-location-dot"></i></span>Location: {{lesson.location}}</p>
                    <p class="spaces"> <span><i class="fa-regular fa-user"></i></span>Spaces: {{lesson.spaces}}</p>

                    </div>
                    <div class="lessonFooter">
                        <p>Price: {{lesson.price}}</p>
                       
                        <button id="" :disabled="isFull(lesson)"  :class="isFull(lesson) ? 'disabledButton' : 'addButton' " v-on:click="addToCart(lesson)" >Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-else>
       <div id="lessonContainer">
            <div class="lessonCard" v-for="lesson in cart">
                
                <div class="lessonBody">
                    <div class="lessonInfo"><span class="lessonIcon"><i v-bind:class="lesson.icon"></i></span>
                    <p class="subject"><span><i class="fa-solid fa-book"></i></span>Subject: {{lesson.subject}}</p> 
                    <p class="location"><span><i class="fa-solid fa-location-dot"></i></span>Location: {{lesson.location}}</p>
                    <p class="spaces"> <span><i class="fa-regular fa-user"></i></span>Spaces: {{lesson.spaces}}</p>

                    </div>
                    <div class="lessonFooter">
                        <p>Price: {{lesson.price}}</p>
                       
                        <button id="" :disabled="isFull(lesson)"  class="removeButton" v-on:click="removeFromCart(lesson)" >Remove from Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
    </div>
        <script  type="text/javascript">
            addToCartButton = document.getElementsByClassName("addButton");
            let afterSchool = new Vue ({
                el: "#app",
                data:{
                        lessons: [
                            {
                            id: 1001,
                            subject: "Math",
                            location: "London",
                            price: 500,
                            spaces: 5,
                            icon: "fa-solid fa-calculator",
                            },

                            {
                            id: 1002,
                            subject: "English",
                            location: "London",
                            price: 6,
                            spaces: 5,
                            icon: "fa-solid fa-book-open",
                            },

                            {
                            id: 1003,
                            subject: "Biology",
                            location: "London",
                            price: 20,
                            spaces: 5,
                            icon: "fa-solid fa-dna",
                            },

                            {
                            id: 1004,
                            subject: "hemistry",
                            location: "London",
                            price: 60,
                            spaces: 5,
                            icon: "fa-solid fa-flask",
                            },
                            {
                            id: 1005,
                            subject: "Spanish",
                            location: "London",
                            price: 60,
                            spaces: 5,
                            icon: "fa-solid fa-book-open",
                            },
                            {
                            id: 1006,
                            subject: "French",
                            location: "London",
                            price: 550,
                            spaces: 5,
                            icon: "fa-solid fa-language",
                            },

                            {
                            id: 1007,
                            subject: "English",
                            location: "USA",
                            price: 60,
                            spaces: 5,
                            icon: "fa-solid fa-book-open",
                            },

                            {
                            id: 1008,
                            subject: "Biology",
                            location: "Germany",
                            price: 20,
                            spaces: 5,
                            icon: "fa-solid fa-dna",
                            },

                            {
                            id: 1009,
                            subject: "Music",
                            location: "Italy",
                            price: 60,
                            spaces: 5,
                            icon: "fa-solid fa-music",
                            },
                            {
                            id: 1010,
                            subject: "Math",
                            location: "Canada",
                            price: 60,
                            spaces: 5,
                            icon: "fa-solid fa-calculator",
                            },

                            ],
                            cart: [],
                            key: '', 
                            sortedList: [],
                            showCheckout: true,
                            
                    },

                methods: {
                    addToCart: function(lesson) {
                        if(lesson.spaces > 0){
                        this.cart.push(lesson);
                        lesson.spaces--;
                        }
                    },

                    removeFromCart: function(lesson){
                        this.cart.pop(lesson);
                        lesson.spaces++
                    },

                    isFull: function(lesson){
                    return lesson.spaces === 0;
                    },

                    
            
                    sortAsc:  function(){
                        if(this.key === 'subject') {
                            this.sortedList = this.lessons.slice().sort((a,b) =>
                             a.subject.localeCompare(b.subject))
                        } else if (this.key === 'price') {
                            this.sortedList = this.lessons.slice().sort((a,b) =>
                                a.price - b.price
                            )
                        } else if (this.key === 'location') {
                            this.sortedList = this.lessons.slice().sort((a,b) =>
                                a.location.localeCompare(b.location)
                            )
                        } else if (this.key === 'spaces') {
                            this.sortedList = this.lessons.slice().sort((a,b) =>
                                a.spaces - b.spaces
                            ) }
                        else  {
                            this.sortedList =  this.lessons
                        }
                    },


                     sortDsc:  function(){
                        if(this.key === 'subject') {
                            this.sortedList = this.lessons.slice().sort((a,b) =>
                             b.subject.localeCompare(a.subject))
                        } else if (this.key === 'price') {
                            this.sortedList = this.lessons.slice().sort((a,b) =>
                                b.price - a.price
                            )
                        } else if (this.key === 'location') {
                            this.sortedList = this.lessons.slice().sort((a,b) =>
                                b.location.localeCompare(a.location)
                            )
                        } else if (this.key === 'spaces') {
                            this.sortedList = this.lessons.slice().sort((a,b) =>
                                b.spaces - a.spaces
                            ) }
                        else  {
                            this.sortedList =  this.lessons
                        }
                    },

                     showCart: function() {

                         if (this.cart.length === 0 ){
                            this.showCheckout = true;
                        } else {
                            this.showCheckout = false;
                        }
                       
                },


             
                },

                mounted() {
                    this.sortedList =  this.lessons;
                },

                computed: {
                    cartCount: function() {
                        return this.cart.length;
                    },
                    returnPage: function() {
                        if (this.cart.length === 0 ){
                            this.showCheckout = true;
                        }
                    }
        

                },
                
                   
            },

    
            );
        </script>

    </body>
</html>

