#lessonContainer{
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            justify-content: left;
            margin-top: 50px;
        }
        .lessonCard {
            border: 1px solid #ccc;
            padding: 20px;
            width: 200px;
            border-radius: 10px;
            font-family: Arial, sans-serif;
            transition: 0.2s ease;
        }

        .lessonCard:hover {
            box-shadow: 1px 3px rgb(196, 193, 193);
        }
        .lessonCard p {
            margin: 5px 0;
        }
        .lessonCard button {
            margin-top: 10px;
            padding: 10px;
            background-color: #28a745;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }
        .lessonCard button:hover {
            background-color: #51aa64;
        }

        .lessonCard i {
           font-size: 55px;
           position: relative;
           bottom: 70px;
           left: 50px;
           color: rgb(117, 117, 201);
        }

        nav{
            text-align: right;
    
        }
        
        #cart{
            width: 50px;
            height: 50px;
            background-color: transparent;
            border: none;
            cursor: pointer;
        
        }

        #cart i {
            font-size: 20px;
        }