body {
  font-family: 'Inter', sans-serif;
  background-color: #f5f8fc;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0px;
}


 header{
    background-color: #132157;
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 44%, rgba(0, 98, 255, 1) 100%);
    padding: 20px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
  
 }

 .cartButton {
    color: white;
    padding-right: 10ox;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 15px;

 }

 .disabledCart{
    color: #ccc;
    padding-right: 10ox;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 15px;

 }
 
header button {
    color: white ;
  
}

#lessonDisplay {
    display: flex;
    gap: 60px;
    margin-top: 20px;
    margin-left: 20px;
}

#lessonContainer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 50px;
}

.lessonCard {
  width: 340px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.08);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease;
}

.lessonCard:hover {
  transform: translateY(-4px);
  box-shadow: 0 5px 25px rgba(0,0,0,0.10);
}

.lessonIcon{
    position: relative;
    left: 90px;
    top: 55px;
    font-size: 50px;
    margin: 0px;
    padding: 0px;
}


.lessonBody {
  padding: 16px 30px;
}

.lessonInfo {
  color: #475569;
  font-size: 0.95rem;
  margin-bottom: 16px;
  padding: 0px;
  text-align: center;
  
}

.lessonInfo p {
  margin: 5px 0;
  display: flex;
  align-items: center;
  gap: 6px;
}



.lessonFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #f0f0f0;
  padding-top: 12px;
}

.price {
  font-size: 1.5rem;
  font-weight: 600;
  color: #1e3a8a;
}

.addButton, .removeButton{
  background-color: #1e3a8a;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 10px 16px;
  font-size: 0.95rem;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background 0.2s ease;
}

.disabledButton {
    background-color: #ccc;
    color: white;
  border: none;
  border-radius: 12px;
  padding: 10px 16px;
  font-size: 0.95rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background 0.2s ease;

}

.addButton:hover , .removeButton:hover {
  background-color: #132157;
}



#sidebar{
    margin-top: 20px;
    width: 520px;
    padding: 20px;
    border-right: 2px solid rgb(0, 0, 0, 0.06) ;
}

#sidebar p {
    font-size: 20px;
    font-weight: bold;
}

#sidebar input {
    margin: 10px 0;
    cursor: pointer;
    text-align: center;
}

#sidebar label {
    transition: 0.2s ease ;
}

#sidebar label:hover {
    color: #bdc8d7;
}

#sidebar label {
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
    display: block;
}

#cartContainer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}
    #checkout{
        display: block;
        text-align: center;
    }

 #cartTitle {
        font-size: 30px;
        text-align: center;
    }

    #checkout input {
    border-radius: 10px;
    width: 150px;
    height: 30px;
    border: none;

}

    #checkout input:focus{
        border-color: none;
        border: none;
        outline: none;
    }

    #checkout label {
        padding-right: 10px;
        padding-left: 10px;
    }


    .checkoutButton {
        background-color: #1e3a8a;
        color: white;
        border: none;
        border-radius: 12px;
        padding: 10px 16px;
        margin-left: 20px;
        font-size: 0.95rem;
        font-weight: 600;
        cursor: pointer;
        gap: 8px;
        transition: background 0.2s ease;
    }

    .checkoutButton:hover {
       background-color: #132157;
    }

    .checkoutButtonDisabled{
        background-color: #9ea1a8;
        color: white;
        border: none;
        border-radius: 12px;
        padding: 10px 16px;
        margin-left: 20px;
        font-size: 0.95rem;
        font-weight: 600;
        cursor: pointer;
        gap: 8px;
        transition: background 0.2s ease;
    
    }
